/* 폰트 */
html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;            
}

a {
    text-decoration: none;
    color: inherit;
}

/* 라이브러리 */
.border-red {
    border: 5px solid red;            
}

.border-blue {
    border: 5px solid blue;            
}

.border-gold {
    border: 5px solid gold;            
}

.border-green {
    border: 5px solid green;            
}

.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.block {
    display: block;
}

.height-100p {
    height: 100%;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.img-box > img {
    width: 100%;
    display: : block;
}


div {
    color: red;
}